<!-- app/views/user_mailer/confirmation.html.erb -->
<h1>Confirmation Instructions</h1>

<%= link_to "Click here to confirm your registration on Early Morning Yoga.", confirm_user_url(@confirmation_token) %>
