<div class="blue-bg"></div>
<div class="white-bg shadow"></div>
<div class="about-yoga-container">
  <div class="content">
    <h1 class="about-yoga-header">About Yoga</h1>
    <p class="about-yoga-text">Yoga is an ancient practice that combines physical postures, breathing techniques, meditation, and ethical principles to promote overall well-being and spiritual growth. The word "yoga" comes from the Sanskrit word "yuj," meaning "to unite" or "to join." This reflects the essence of yoga as a practice that aims to unify the body, mind, and spirit, bringing them into harmony with each other.</p>

    <p class="about-yoga-text">Beyond being a physical exercise, yoga represents a holistic approach to life, focusing on cultivating inner peace, mindfulness, and balance. Many people turn to yoga for various reasons—whether to improve flexibility and strength, manage stress, or enhance mental clarity.</p>

    <p class="about-yoga-text">Accessible to individuals of all ages and fitness levels, yoga offers something for everyone. Whether you're an athlete seeking to increase flexibility, someone looking for mental clarity, or an individual on a spiritual journey, the practice can be adapted to meet specific needs and goals.</p>

    <p class="about-yoga-text">Ultimately, yoga serves as a tool for self-care and personal growth. By fostering a deeper connection to the body, mind, and spirit, it helps cultivate peace, resilience, and balance in daily life.</p>
  </div>
</div>
